body{
	background-color: antiquewhite;
	
}
.login_div{
	box-shadow: 0 20px 60px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	
	width: 80%;
	height: auto;
	margin-top: 4%;
	border-radius: 10px;
}
.fa {
	padding: 20px;
	font-size: 30px;
	width: 30px;
	text-align: center;
	text-decoration: none;
	margin: 5px 2px;
	border-radius: 50%;
  }

.fa:hover {
	opacity: 0.7;
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-facebook {
	background: #3B5998;
	color: white;
  }
  
  /* Twitter */
  .fa-twitter {
	background: #55ACEE;
	color: white;
  }
  .fa-google{
	background: red;
	color: white;
  }
.form-field {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 2rem;
  }
  .mail:before{
	content: '\f0e0';
	font: 34px fontawesome;
	  color: #5b5b5b;
  }
  
  .lock:before {
	content: '\f023';
	font: 34px fontawesome;
	  color: #5b5b5b;
  }
#card{
	font-family:'Raleway', sans-serif;
	opacity: .7;
	font-size: 200%;
}
#hr1{
	border-radius: 4px;
	width: 1.5%;
	height: 4px;
	background-color: red;
	border: none;
	display: inline-block;
	margin-left: 6%; 
}
#hr2{
	border-radius: 20px;
	width: 5.5%;
	height: 4px;
	background-color:blue;
	border: none;
	display: inline-block; 
}
.input_style:focus{width:80% !important}
.input_style{
	-webkit-transition:width 0.4s ease-in-out;transition:width 0.4s ease-in-out;
	width: 50%;
	height: 40px;
	background-color: #F5F5F5;
	outline: none;
	border: none;
	border-radius: 20px;
	padding-left: 10px;
	color: black;
}
#login_button{
	box-shadow: 0 8px 60px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	width: 150px;
	height: 40px;
	border-radius: 10px;
	border: none;
	margin-bottom: 10%;
	outline: none;
	background-color: #39569c;
	transition: 400ms ease-in-out; 
}
#login_button:hover{
	background-color: #74B559;
	color: white;
}
#forgot a{
	font-size: 120%;
	color: black;
} 
